#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.button{
  background: #fff;
  color: rgba(243, 16, 16, 0.938);
  font-size: larger;
  margin: 8px;
  
}
.green{
  color: rgb(14, 226, 14) ;
}
.blue{
  color: rgba(107, 107, 243, 0.829);
}
